.account{
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  width: 98vw;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
 
 }
 .BUY_LAND{
     font-size: 80px;
     font-family: 'Times New Roman', Times, serif;
 }